.card {
  background: white;
  border: teal 5px solid;
  border-radius: 15px;
  color: teal; 
  margin: 10px;
  padding: 15px;
}

.cancel-btn {
  background: teal;
  color: white;
  font-size: 20px;
  height: 30px;
  width: 90%;
}